/* Bootstrap modifications */
.navbar {
    background-color: #ffffff;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #000000;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #000000; 
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
    color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
    color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #000000;
}


/* Classes */
.logo {
    float: right; 
    width: 35%;
    height: auto;
}

.banner {
    position: relative;
    left: 0;
    right: 0; 
    height: 60px;
    background-color: #3376FF;

    border: solid; 
    border-color: #F84705;
    border-width: 0px 0px 20px 0px; 
}

.footer { 
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    margin-top: 20px;
    background-color: #3C71FE;

    border: solid; 
    border-color: #F84705;
    border-width: 0px 0px 20px 0px; 
}

.left {
    float: left;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
}

.right {
    float: right; 
    color: white; 
    font-family: 'Comfortaa', cursive;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 20px;
    
}

#social {
    margin-top: 5px;
    padding-right: -1px;
}

.container-fluid {
    margin-top: 30px;
}