{% extends "base.html" %}

{% block change_banner %}
{% if current_user.is_authenticated %}
    <div class="banner">
        <p class="left">Menu</p>
        <p class="right">{{ current_user.firstName }} | <a href='/logout'>Log Out</a></p>
    </div>
{% else %}
    <div class="banner">
        <p class="left">Menu</p>
        <p class="right"><a href="/login">Sign In</a></p>
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="row left-buffer">
            <div class="col-md-2">
                <a id="black" href="#Pizza">Pizza</a>
            </div>
            <div class="col-md-2">
                <a id="black" href="#Chicken">Chicken</a>
            </div>
            <div class="col-md-2">
                <a id="black" href="#Sandwiches">Sandwiches</a>
            </div>
            <div class="col-md-2">
                <a id="black" href="#Burgers">Burgers</a>
            </div>
            <div class="col-md-2">
                <a id="black" href="#Sides">Sides</a>
            </div>
            <div class="col-md-2">
                <a id="black" href="#Desserts">Desserts</a>
            </div>
        </div>
        <hr>
        <a id="Pizza"><h2 id="center">Pizza</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Young Hippie Pizza</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">Extra virgin olive oil & a bit of Fun House's famous pizza sauce, 
                    cheese, ham, breakfast bacon, mushrooms, spinach, artichoke hearts, cherry tomatoes</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Taco Pizza</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">Taco meat, onions, cheddar cheese, lettuce, tomatoes</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a id="Chicken"><h2 id="center">Chicken</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">1/4 Chicken</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">One Breast, One Leg, fries & garlic toast</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">1/2 Chicken</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">One breast, one thigh, one leg, one wing, fries & garlic toast</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a id="Sandwiches"><h2 id="center">Sandwiches</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Chicken Parmesan Sandwich</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">Tender chicken lighted coated in parmesan breadcrumbs, tomato sauce,
                    and melted cheese on a freshly grilled french roll
                </p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a id="Burgers"><h2 id="center">Burgers</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Hamburger</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">A half pound portion of lean, ground beef, lightly seasoned and grilled 
                    to order served with french fries</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Cheeseburger</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">A half pound portion of lean, ground beef, topped with your favorite cheese, lightly seasoned and grilled 
                        to order served with french fries</p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a id="Sides"><h2 id="center">Sides</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Party Sticks</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">10" of pizza dough covered with garlic butter, mozzarella, cheddar, and provolone
                    cheeses, served with a side of garlic butter
                </p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Side Salad</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">Fresh lettuce, cabbage and carrot mix, covered with pizza cheese, pepperoni,
                    and black olives
                    <br>
                    <em>Dressings: Ranch, Italian</em>
                </p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a id="Desserts"><h2 id="center">Desserts</h2></a>
    </div>
    <div class="card-deck full-row-deck">
        <div class="card border-dark border-3">
            <div class="card-body text-center">
                <h4 class="card-title">Cookies</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text text-muted">Chocolate Chip, Peanut Butter, M & M, Oatmeal, & Sugar
                </p>
                <button class="btn btn-secondary btn-sm menu-button" type="submit">Order</button>
            </div>
        </div>
    </div>

{% endblock %}